language: java
dist: xenial

  
addons:
  sonarcloud:
    organization: "renizmy"
    token: "$SONARCLOUD_TOKEN"

install:
  - pip install ansible
  - pip install ansible-vault
    
jobs:
  include:
    - stage: dev
      if: branch = develop OR master
      script: bash scripts/build.sh
    - stage: prod
      if: branch = develop OR master
      script: bash scripts/docker.sh

    - stage : deploy
      if: branch = main
      env:
        - ANSIBLE_HOST_KEY_CHECKING=false
      script:
       - touch ansible/.vault_pass
       - echo $vault_pass >> ansible/.vault_pass
       - cat ansible/.vault_pass
       - a=$â½pwd)
       - echo $a
       - ansible-vault view ansible/encrypted/id_rsa_encrypted >> id_rsa
       - chmod 400 id_rsa
       - ansible-playbook -i ansible/inventories/setup.yml ansible/playbook.yml


cache:
  directories:
   - $HOME/.m2
    
services:
  - docker

